/* Write your code here. */
.Notification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.heading {
  font-family: "Roboto";
  color: #0f172a;
  font-size: 15px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  background-color: #0b69ff;
}
.img {
  height: 100px;
  width: 100px;
}

.text {
  color: #ffffff;
  border: 0px;
}
.card1 {
  padding: 20px;
  background-color: #2dca73;
}
.card2 {
  padding: 20px;
  background-color: #ffb800;
}
.card3 {
  padding: 20px;
  background-color: #ff0b37;
}
